.context {
    padding: 8px 16px;
    text-align: center;

    .selectDirBtn {
        margin: 16px;
        width: 60%;
        height: 38px;
        border: none;
        background-color: aquamarine;
        border-radius: 4px;
        cursor: pointer;
    }
}