.app {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .file_loader {
        width: 250px;
        flex: 0 0 auto;
    }

    .a4_page {
        flex: 1 0 auto;
    }

    .setting {
        width: 350px;
        flex: 0 0 auto;
    }
}

@media print {
    .app {
        .file_loader {
            display: none !important;
        }

        .setting {
            display: none !important;
        }
    }

    @page {
        margin: 0;
    }
}